<div layout="row" layout-wrap>
  <div flex="45" *ngFor="let flower of flowers">
    <md-card class="example-card" >
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{flower.name}}</md-card-title>
      </md-card-header>
      <img md-card-image src="https://s-media-cache-ak0.pinimg.com/236x/8d/7c/10/8d7c10166b8a3a4c74097a805979ce8c--tattoo-filler-vintage-flowers.jpg">
      <md-card-content>
        <p>
          {{flower.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>