<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>

<md-card>
    <md-radio-button name="symbol">Alpha</md-radio-button>
    <md-radio-button name="symbol">Beta</md-radio-button>
    <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
</md-card>

<div *ngFor="let U of users">
    <h2> {{U.first_name}} </h2>
</div>
<router-outlet></router-outlet>

